doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    head
        meta(charset='UTF-8')
        link(rel='icon' type='image/svg+xml' href='/assets/bot.png')
        meta(name='author' content='Hélio Engrácia Mapupo')
        meta(name='google-site-verification' content='NcaIGPNruyoMP8Iwe6pj34SYOjz__-r9Ja69i2Q-BRI')
        meta(name='description' content='Este é um robo de inteligência artificial que pode responder quase tudo que você precisa saber')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title
            | Mozbotchat - configurações
        link(rel='stylesheet' href='./chat.css')
        header.header
            nav.nav
                a(href='/')
                    h1.nav__logo
                        | Mozbotchat
                        img.logo__img(src='./assets/bot.png' alt='robozinho')
                div#btns
                    a#settings(href='/settings') Configurações
                    button#logout-btn(type='submit') Sair
        body.settings-body 
            div#settings-container 
                h3.username #{user.username}
                if(user.status === true)  
                    h3.username Meu saldo: #{user.numOfFriends * 40} meticais
                else
                    h3.username Meu saldo: #{user.numOfFriends * 10} meticais
                p.tokens.used-tokens
                    | Tokens usados: 
                    b #{user.used_tokens}
                p.tokens.used-tokens
                    | Tokens restantes: 
                    b #{user.max_tokens - user.used_tokens}
                div.token-about 
                    h4.title Sobre tokens
                    p 1000 tokens é equivalente a 750 palavras. Dependendo das configurações da sua página (tamanho de fonte, espaçamento de linhas, margens), com 500000 tokens você pode receber respostas até 1500 páginas.
                    p Isto significa que, se juntar todo o texto que vai receber nas diferentes questões que fará ao bot, pode preencher 1500 páginas A4.
                if(user.status === true)
                    div.recharge
                        h4.title Dados da recarga
                        p.tokens Recarregada em: #{user.purchased_issued_at.toLocaleString()}
                        p.tokens Expira em: #{user.purchased_expires_at.toLocaleString()}  
                //- if(user.status === true )
                //-     div.recharge
                //-         h4.title Meus clientes
                //-             each user in user.invitations
                //-                 p.tokens Nome #{user.invitations.length}
                         
                if(user.status === true)
                    div.recharge
                        .container
                            p Seu link de afiliado
                            input#link(type='text' value=`https://www.mozbotchat.com/register?inviter=${user.username}`)
                            button#copy-button(type='button') Copiar

script(src="/logout.js" type="module")
script(src="/settings.js") 
script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js") 

